body { /*Cuerpo*/
    background-color: rgb(255, 255, 255);
    font-family:sans-serif;
    align-items: auto;
    
}

#logo {/*logo*/
    height: 20vh,auto;
    width: 25vh;
    display: block;
    margin: auto;
   
}

h5 {/*Mensaje "Bienvenido a tu..."*/
    color: rgb(0, 0, 0);
    text-align: center;

}

form{/*formulario*/
    line-height: 30px;
    height: 80%;
    line-height: 30px;
    border-color: black;
}

#idi{/*Fieldset de Idioma*/
    
    position: relative;
    width: min-content;
    margin: 1% auto;
    
    background: linear-gradient(to top,lightgrey, white);
    border-radius: 10px;
    border-color: rgba(150,150,150,0.82);
    border-width: 2px;
    border-style: solid;

}

#Idi{/*legend Idioma*/

    width: max-content;
    background-color: rgb(255, 255, 255);
    border-color: rgba(150,150,150,0.82);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    font-size: 12px;
}

#Idioma{/*Select lenguage*/
width: 205px;
height: 27px;
margin: 5px 5px 5px 80px;
border-color: rgba(150,150,150,0.82);
border-style: solid;
border-radius: 10px;
border-width: 2px;
text-align:center;
}

#se{/*Fieldset de sesión*/

    position: relative;
    width: min-content;
    margin: 1% auto;
    height: auto;
    background: linear-gradient(to top,lightgrey, white);
    border-radius: 10px;
    border-color: rgba(150,150,150,0.82);
    border-width: 2px;
    border-style: solid;
}

#Iniciar{/*legend Idioma*/
    background-color: rgb(255, 255, 255);
    border-color: rgba(150,150,150,0.82);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    font-size: 12px;
}

#Us{/*Input Usuario y Contraseña*/

    width: 170px;
    height: 15px;
    border-color: rgba(150,150,150,0.82);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    margin: 0px 0px 0px 20px;
}
#Con{

    width: 170px;
    height: 15px;
    border-color: rgba(150,150,150,0.82);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    margin: 0px 0px 0px 20px;
}

#User,#pass{
    font-size: 12px; 
}

#boton{
    border-radius: 5px;
    border-width: 2px;
    margin: 0px 0px 0px 221px;
    width: 75px;
    height: 25px;
    border-color: rgba(150,150,150,0.82);
    border-bottom-right-radius: 20px;
}